.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin: 10px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile img {
    width: 25%;
    border-radius: 50%;
    margin: 0 0 10px 0;
}

.profile h4 {
    margin: 0;
    text-align: center;
}

.profile div {
    margin: 5px 0 5px 0;
    color: #777;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile div p {
    margin: 0;
    font: lighter;
}

/* U */
.comment-container,
.notification-container {
    max-width: 100%;
    max-height: 90vh;
    height: 85vh;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.comment-container hr,
.notification-container hr {
    width: 98%;
    border-bottom: solid 3px rgba(0, 0, 0, 0.501);
}

.comment-list,
.notification-list {
    width: 100%;
    list-style: none;
    padding: 30px;
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column-reverse;
}

.notification-box,
.comment-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment,
.notifications {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.comment span,
.notifications span {
    font-size: 0.8em;
    color: #888;
    margin-left: 15px;
}

.comment p,
.notifications p {
    margin: 0 15px 0 15px;
    padding: 0 15px 0 0;
    width: 100%;
}

.comment div,
.notifications div {
    width: 95%;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.comment-input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.msg-list {
    width: 100%;
    list-style: none;
    padding: 30px;
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-none {
    display: none;
}

.status-box {
    width: 100%;
    overflow-y: scroll;
}

.status-box p {
    margin-bottom: 2px;
}

button {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4683ec;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #389876;
}

.status {
    flex-direction: row;
}

.user {
    background-color: rgb(222, 246, 252);
}

.admin {
    background-color: rgb(251, 251, 251);
}

.seen {
    background-color: #dde;
}

.request {
    max-width: 100%;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.approved {
    background-color: #dafbf1;
}

.rejected {
    background-color: #ab41416b;
}

.employee-info {
    display: flex;
    align-items: center;
}

.employee-info img {
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 25px 15px 10px;
    /* padding: 0 15px 5px 10px; */
}

.employee-details {
    flex-grow: 1;
}

.action-buttons {
    text-align: right;
}

.request p {
    padding: 4px 5px 0 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

.delete {
    width: 5%;
    background-color: red;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.approved {
    background-color: #8ee9d24a;
}

.rejected {
    background-color: #d2a7a722;
}

.admin {
    background-color: #d2a7a722;
    /* margin: 5%; */
    align-self: center;
    width: fit-content;
    min-width: 10%;
    max-width: 90%;
}

.left {
    width: fit-content;
    min-width: 10%;
    max-width: 90%;
    /* flex-direction: row; */
}

.right {
    background-color: #8ee9d24a;
    margin-left: 10%;
    width: fit-content;
    min-width: 10%;
    max-width: 90%;
    align-self: flex-end;
    /* flex-direction: row; */
}

.accept {
    background-color: #4caf50;
    color: #fff;
    border: none;
}

.updated {
    width: 250px;
}

.decline {
    background-color: #f44336;
    color: #fff;
    border: none;
}

@media (min-width: 768px) {
    .profile {
        width: calc(50% - 20px);
    }
}

@media (min-width: 1024px) {
    .profile {
        width: calc(33.33% - 20px);
    }
}